<!DOCTYPE html>
<html>
    <!-- <div class="topnav">

        <a href="">Home</a>
        <a href="">Profile</a>
        <a href="">Challenge a friend!</a>        
        <a href="">About</a>
//
    </div>
  <!-- <head> -->
      <title id="title">SnEK ReMeK</title>
      <h1 id="page-title"> Snake Revisited</h1>
      <link rel="stylesheet" type="text/css" href="/Users/haaminyangibo/Desktop/Flatiron/Snake/app/assets/stylesheets/application.css" media="screen" />

  </head>


  <body id="body" width='100%' height='100%'>
    <img src="https://www.pngkey.com/png/full/18-188401_nokia-phone-png-images-transparent-nokia-130-dual.png">
    <h2 id="score">Your Score: 0 </h2>
    <canvas id="gameCanvas" width="300" height="300"></canvas>


    <!-- <canvas id="leaderBoardCanvas" width="300" height="100"></canvas> -->
<div class="instructions">
  <p>WASD to move the snake</p>
  <p>Shift to reload the game</p>
  <p>FORWARD-SLASH to activate TURBO MODE</p>

</div>
  <div id="log-in-page">
    
    <form class="log-in-form" style="" border= "2">
        <h3>Save your score!!</h3> 

        <input type="text" name="name" value="" placeholder="Please enter Your Name" class="input-text">
        <br>
        <input type="text" name="username" value="" placeholder="Pick a username" class="input-text">
        <br>
        <input type="text" name="email" value="" placeholder="Email address please " class="input-text">
        <br>
        <input type="submit" name="submit" value="Create user" class="submit">
      </form>
    </div>
    <table style="width: 300px;" border="2" cellpadding="0">
    <div id="leaderBoard">Leader Board</div>

      <tbody>
      
    
      </tbody>
      </table>



  <script type="text/javascript" src="/Users/haaminyangibo/Desktop/Flatiron/Snake/app/javascript/packs/main.js"></script>
</body>
<p class ="footer"> Made By Chris and Haami 2019</p>
</html>