<form class="log-in-form" style="">
        <h3>Sign Up!</h3>

        <input type="text" name="name" value="" placeholder="Please enter Your Name" class="input-text">
        <br>
        <input type="text" name="username" value="" placeholder="Pick a username" class="input-text">
        <br>
        <input type="text" name="email" value="" placeholder="Email address please " class="input-text">
        <br>
        <input type="submit" name="submit" value="Create user" class="submit">
      </form>
    </div>